[user]
    name = Theo Kanning
    email = theokanning@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[web]
    browser = macosx
[browser "macosx"]
    cmd = open
[push]
    default = simple
[alias]
    b = branch
    bd = branch -d
    co = checkout
    cob = checkout -b
    cm = !git add --all && git commit -m
    cma = commit --all --amend
    fin = !git checkout main && git pull && git branch -d
    mtm = !git checkout master && git fetch && git checkout -b main && git branch -u origin/main && git branch -d master
    mtm-fork = !git checkout master && git fetch && git checkout -b main && git branch -u upstream/main && git branch -d master
    pu = push origin -u
    pf = push -f
    rom = pull --rebase origin main
    rum = pull --rebase upstream main
    s = status
[difftool]
    prompt = false
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[hub]
    host = git.target.com
    host = gist.git.target.com
