[user]
    name = Theo Kanning
    email = theokanning@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[web]
    browser = macosx
[browser "macosx"]
    cmd = open
[credential]
    helper = osxkeychain
[push]
    default = simple
[alias]
    s = status
    b = branch
    co = checkout
    cob = checkout -b
    cm = !git add --all && git commit -m
    cma = commit --all --amend
    bd = branch -d
    pu = push origin -u
    pf = push -f
    rum = pull --rebase upstream master
[difftool]
    prompt = false
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[hub]
    host = git.target.com
    host = gist.git.target.com
